body {
      font-family:Arial, sans-serif,;
      margin: px;
      padding: 0px;
      background-color: #e9dddd;
  }
  
  header {
      background-color: #216b91;
      color: rgb(238, 221, 221);
      padding: 1rem;
      text-align: center;
  }
  
  nav ul {
      list-style-type: none;
      padding:100 ;
      background-color: #7c1616;
  }
  
  nav ul li {
      display:inline;
  }
  
  nav ul li a {
      color: rgb(203, 195, 195);
      padding: 1rem;
      text-decoration: none;
      display: inline-block;
  }
  
  nav ul li a:hover {
      background-color: #0dcc0a;
  }
  
  main {
      padding: 1rem;
  }
  
  section {
      background-color: rgb(187, 30, 30);
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 5px;
  }
  
  footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1rem;
      position: fixed;
      width: 100%;
      bottom: 0;
  }
  