*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.a1{
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    width: auto;
    padding: 3px;

}
.a12a{
    height: 2px;
    width: 30px;
    margin: 3px;
    padding: 3px;
    background-color: black;
}
.a2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

#a12b{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.a3{ 
height: 1000px;
background-color: gray;
}
.a4{
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 25px;
}

#a41{
    border-radius: 50px;
    padding: 10px;
}
.a5,.a9{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.a6{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 25px;
}

.a7{
       text-align: center;
       margin-bottom: 25px;
    }
.a8{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 25px;

}
#a80{
    border-radius: 50px;
    padding: 10px;

}
.a6{
    margin-bottom: 25px;
}
.a60{
    height: 100px;
}
.a55 img{
    margin-top: 30px;
    margin-bottom: 30px;

    height: 500px;
    width: 100%;
}


#a10{
    height: 200px;
    background-color: aliceblue;
}
.a11{
    display: flex;
    justify-content: space-around;
}
.footer{
    margin-top: 10px;
}
.a110{
    margin-top: 20px;
}
.a110 ol{
    list-style: none;

}
.a110 ol li{
    padding: 10px;
    
}
#a12{
    padding: 20px;
    margin-left: 50px;
}
#a13{
    padding: 5px;

    margin-left:60px ;
}
.a14{
    border-bottom: 2px solid black;
    width: fit-content;
    margin-left: 70px;
    padding: 5px;
}
.a14 input{
    border: none;
    outline: none;
   
}
.a15{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a12b1{
    margin: 20px;
    display: flex;
    gap: 15px;
    color: rgb(10, 123, 222);

}